// reduce browser inconsistencies in things like default line heights, margins and font sizes of headings

.clear {
    clear: both;
}

// Remove arrows for input type number
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* HTML5 display-role reset for older browsers */
blockquote, q {
quotes: none; }

blockquote {
&:before, &:after {
    content: '';
    content: none; } }

q {
&:before, &:after {
    content: '';
    content: none; } }

table {
border-collapse: collapse;
border-spacing: 0; }