// reduce browser inconsistencies in things like default line heights, margins and font sizes of headings

body {
  min-width: 735px;
}

.clear {
    clear: both;
}

// Remove arrows for input type number
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* HTML5 display-role reset for older browsers */
blockquote, q {
quotes: none; }

blockquote {
&:before, &:after {
    content: '';
    content: none; } }

q {
&:before, &:after {
    content: '';
    content: none; } }

table {
border-collapse: collapse;
border-spacing: 0; }


/* width */
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    transition: width 2s;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f0f0f0; 
    -webkit-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.1);

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8a8a8a70; 
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #8a8a8aaa; 
  }


  .use-pointer {
    cursor: pointer;
  }