.courses-images {
    background-size: cover;
    background-position: center;
}

#coursesPage {
    .card {
        .col-md-4, .col-sm-4 {
            border-bottom-left-radius: 0.25rem;
            border-top-left-radius: 0.25rem;
            margin-left: -1px;
        } 
    }
}

#courseActions {
    .courseBtn {
        border: none;
        background-color: #fafafa;
        padding: 10px 20px;
    }

    .deleteBtn {
        border-left: 1px solid #eee;
    }
}

.inviteBtns .btn {
    width:100px;
}
