#assignments-table {
    width: 100%;

    .loading img {
        height: 20px;
        width: 20px;
        margin: 0;
        opacity: 0;
    }

    .disabled .loading img {
        opacity: 0.4;
    }

    tr td:not(:nth-child(2)) {
        width: 1%;
        white-space: nowrap;
    }

    tr th:nth-child(2),
    tr td:nth-child(2) {
        padding-left: 0;
    }

    tr td:first-child {
        padding-left: 8px;
        padding-right: 8px;
    }

    tr {
        transition: background-color .25s ease-in-out;
    }

    tr p {
        transition: color .25s ease-in-out;
    }
    
    tr.disabled {
        background-color: lightgrey; 
    }

    tr.disabled p {
        color: grey;
    }

    button {
        margin-right: 10px;
    }
}

.courses-images {
    background-size: cover;
    background-position: center;
}

#coursesPage {
    .card {
        .col-md-4, .col-sm-4 {
            border-bottom-left-radius: 0.25rem;
            border-top-left-radius: 0.25rem;
            margin-left: -1px;
        } 
    }
}

#courseActions {
    .courseBtn {
        border: none;
        background-color: #fafafa;
        padding: 10px 20px;
    }

    .deleteBtn {
        border-left: 1px solid #eee;
    }
}

.inviteBtns .btn {
    width:100px;
}
