.course-page {
    .course-img {
        width: auto;
        height: auto;
        max-width: 50vw;
        max-height: 50vh;
    }

    .invisibleBtn {
        padding-top: 20px;
    }

    select.select-permission {
        width: auto;
    }

    table td.user-pending {
        color: grey;
    }

    table td .form-group {
        margin-bottom: 0;
    }
}