#statistics-page {
    .statistics-block {
        margin-bottom: 50px;
    }

    .sectionComment {
        .comment-count {
            font-weight: bold;
        }

        .section-name {
            color: grey;
            float: right;
        }

        &.privateComment {
            font-style: italic;
            color: grey;
        }
    }
}