
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$body-font: 'Raleway', sans-serif;
$heading-font: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Theme
$swift-beige: #FBE8A6;
$swift-orange: #F4976C;
$swift-dark-blue: #303C6C;
$swift-blue: #B4DFE5;
$swift-light-blue: #D2FDFF;