// Theme
$swift-beige: #FBE8A6;
$swift-orange: #F4976C;
$swift-dark-blue: #303C6C;
$swift-blue: #B4DFE5;
$swift-light-blue: #D2FDFF;

.swift-bg-beige {
    background-color: $swift-beige;
}

.swift-bg-orange {
    background-color: $swift-orange;
}

.swift-bg-dark-blue {
    background-color: $swift-dark-blue;
}

.swift-bg-blue {
    background-color: $swift-blue ;
}

.swift-bg-light-blue {
    background-color: $swift-light-blue;
}