.swift-bg-beige {
    background-color: $swift-beige;
}

.swift-bg-orange {
    background-color: $swift-orange;
}

.swift-bg-dark-blue {
    background-color: $swift-dark-blue;
}

.swift-bg-blue {
    background-color: $swift-blue ;
}

.swift-bg-light-blue {
    background-color: $swift-light-blue;
}