.swift-bg-beige {
    background-color: $swift-beige;
    color: #fff;
}

.swift-bg-orange {
    background-color: $swift-orange;
    color: #fff;
}

.swift-bg-dark-blue {
    background-color: $swift-dark-blue;
    color: #fff;
}

.swift-bg-blue {
    background-color: $swift-blue ;
    color: #fff;
}

.swift-bg-light-blue {
    background-color: $swift-light-blue;
    color: #fff;
}